/* Color Palette */
:root {
    --primary-color: #ef476f;
    --secondary-color: #ffd166;
    --accent-color: #06d6a0;
    --info-color: #118ab2;
    --dark-color: #073b4c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
}

.logo h1 {
    margin: 0;
    color: #fff;
}

.logo p {
    margin: 0;
    color: #fff;
    font-style: italic;
}

nav .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .menu li {
    margin: 0 15px;
}

nav .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.create-blog-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: var(--info-color);
    color: #fff;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero-text h2 {
    font-size: 2.5em;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-cta-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.join-others {
    background: url('https://i.ibb.co/CvbtdGC/Screenshot-2024-08-05-224116.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.join-others .content {
    background-color: rgba(0, 0, 0, 0.5); /* Darken background for readability */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.join-others h2 {
    font-size: 2em;
}

.join-others p {
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    nav .menu {
        flex-direction: column;
        align-items: center;
    }

    nav .menu li {
        margin: 10px 0;
    }
}
